<ion-content [fullscreen]="true">
  @if (!isLoading ) {

  <div
    style="
      margin-left: auto;
      margin-right: auto;
      max-width: 360px;
      margin-bottom: 20px;
    "
  >
    <div class="card-container">
      <ion-card class="card-item">
        <ion-button fill="clear" (click)="backBtn()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-card>
      <ion-card class="card-item">
        <ion-button fill="clear">
          <!-- <p><span class="highlight">N° </span> {{ mesa?.num_mesa }}</p> -->
          <ion-text> N° {{ mesa?.num_mesa }} </ion-text>
        </ion-button>
      </ion-card>
      <ion-card class="card-item">
        <!-- cambiar de color -->

        @if (mesa && mesa.estado == estadoMesa.EN_USO) {
        <ion-button fill="clear" color="danger">
          <span class="highlight">en uso</span>
        </ion-button>
        } @else if (mesa && mesa.estado == estadoMesa.DESUSO) {
        <ion-button fill="clear">
          <span class="highlight">libre </span>
        </ion-button>
        }
      </ion-card>
    </div>

    @if ( detallesMesa ) {

    <ion-card
      style="display: flex; justify-content: center; align-items: center"
    >
      @if (detallesMesa.entrega == "pendiente") {

      <ion-button fill="clear" style="text-transform: capitalize; color: red">
        Pendiente de entrega
      </ion-button>
      } @else {
      <ion-button color="tertiary" style="text-transform: capitalize">
        entregado
      </ion-button>
      }
    </ion-card>

    @for (producto of detallesMesa.productos; track $index) {
    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="producto.imagen" alt="Producto" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ producto.nombre }}</h2>
          <p>Precio: S/ {{ producto.precioUnidad.toFixed(2) }}</p>
          <p>Cantidad: {{ producto.cantidad }}</p>
          <p>Total: S/ {{ producto.precioTotal.toFixed(2) }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
    }
    <ion-card style="padding: 18px">
      <form [formGroup]="form" (ngSubmit)="registrarCambioEstado()">
        <ion-select
          label="seleccione el estado"
          placeholder="Estado"
          formControlName="estado"
          interface="action-sheet"
        >
          @for (estado of estadosEntrega; track $index) {
          <ion-select-option [value]="estado">{{ estado }}</ion-select-option>
          }
        </ion-select>
      </form>
    </ion-card>

    <ion-button color="secondary" (click)="registrarCambioEstado()"
      >Cambiar de Estado</ion-button
    >

    <ion-button color="danger" (click)="limpiarMesa()">Limpiar mesa</ion-button>
    } @else {

    <div style="text-align: center; padding: 20px">
      <h2>Mesa libre</h2>
    </div>

    }
  </div>
  } @else {
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
    "
  >
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-content>
