.box-back-btn {
  // max-width: 190px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

ion-spinner {
  width: 100px;
  height: 100px;
}