<ion-buttons>
  <ion-button [routerLink]="['/private/cart']" class="cart-button">
    <ion-icon name="cart-outline" size="large"></ion-icon>
    <!-- <div *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</div> -->
    <div *ngIf="cartCount2() > 0" class="cart-badge">{{ cartCount2() }}</div>
    <!-- <div *ngIf="(cartCount$ | async) as cartCount && cartCount > 0" class="cart-badge">{{ cartCount }}</div> -->

    <!-- <div *ngIf="cartCount$ | async as cartCount">
      <div *ngIf="cartCount > 0" class="cart-badge">
        {{ cartCount }}
      </div>
    </div> -->
  </ion-button>
</ion-buttons>
