<ion-content [fullscreen]="true">
  @if (calzones) {
  <ion-card class="back-btn-box">
    <ion-button (click)="pushRouter('/home')" expand="full" fill="clear">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-card>
  <div class="search-box">
    <ion-searchbar
      show-clear-button="focus"
      animated="true"
      placeholder="Buscar aqui..."
      (ionInput)="filterCalzone($event)"
    ></ion-searchbar>
  </div>
  <div class="box-card">
    @for (calzone of filteredCalzone; track $index) {

    <ion-card class="pizza-card" (click)="pushDetails(calzone.id)">
      <div class="separador">
        <ion-card-content>
          <ion-card-title style="color: #efefef">{{calzone.nombre}}</ion-card-title>
        </ion-card-content>

        <ion-card-header>
          <img
            src="{{calzone.image}}"
            alt="{{calzone.nombre}}"
            class="pizza-image"
          />
        </ion-card-header>
      </div>
    </ion-card>

    }
  </div>
  } @else {
  <div class="spinner-box">
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-content>
