.box-prices {
  display: flex;
}

.form-box-title {
  text-align: center;
  color: cornflowerblue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.descripcion {
  font-size: 0.85rem;
  color: #666;
  margin-top: 4px;
}
.box-back-btn {
  max-width: 70px;
  margin-left: auto;
  margin-right: auto;
}

.box-form {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}
