<ion-content [fullscreen]="true">
  @if (extras) {
  <ion-card class="back-btn-box">
    <ion-button (click)="pushRouter('/home')" expand="full" fill="clear">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-card>
  <div class="search-box">
    <ion-searchbar
      show-clear-button="focus"
      animated="true"
      placeholder="Buscar aqui..."
      (ionInput)="filterextras($event)"
    ></ion-searchbar>
  </div>
  <div class="box-card">
    @for (extra of filteredextrasF; track $index) {

    <ion-card class="pizza-card" (click)="pushDetails(extra.id)">
      <div class="separador">
        <ion-card-content>
          <ion-card-title style="color: #efefef">{{extra.nombre}}</ion-card-title>
        </ion-card-content>
        <ion-card-header>
          <img src="{{extra.image}}" alt="{{extra.nombre}}" />
        </ion-card-header>
      </div>
    </ion-card>

    }
  </div>
  } @else {
  <div class="spinner-box">
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-content>
