<ion-content [fullscreen]="true">
  @if (extras) {
  <ion-card>
    <ion-button (click)="pushRouter('/home')" expand="full" fill="clear">
      Atras
    </ion-button>
  </ion-card>
  <div>
    <ion-card>
      <ion-searchbar
        show-clear-button="focus"
        animated="true"
        placeholder="Buscar aqui..."
        (ionInput)="filterextras($event)"
      ></ion-searchbar>
    </ion-card>
  </div>
  <div class="box-card">
    @for (extra of filteredextrasF; track $index) {

    <ion-card (click)="pushDetails(extra.id)">
      <ion-card-content>
        <img src="{{extra.image}}" alt="{{extra.nombre}}" />
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>{{extra.nombre}}</ion-card-title>
        <!-- <ion-card-subtitle>{{extra.descripcion}}</ion-card-subtitle> -->
      </ion-card-header>
    </ion-card>

    }
  </div>
  } @else {
  <div class="spinner-box">
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-content>
