<ion-content [fullscreen]="true">
  @if (pizzas) {
  <ion-card class="back-btn-box">
    <ion-button (click)="pushRouter('/home')" expand="full" fill="clear">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-card>
  <div class="search-box">
    <ion-searchbar
      show-clear-button="focus"
      animated="true"
      placeholder="Buscar aqui..."
      (ionInput)="filterPizzas($event)"
    ></ion-searchbar>
  </div>
  <div class="box-card">
    @for (pizza of filteredPizzas; track $index) {

    <ion-card class="pizza-card" (click)="pushDetails(pizza.id)">
      <div class="separador">
        <ion-card-content>
          <h2>{{pizza.nombre}}</h2>
          @if (pizza.opciones.esDuo) {
          <span style="color: cornflowerblue">Duo</span>
          } @if (pizza.opciones.esCuatroEstaciones) {
          <span style="color: cornflowerblue">4 estaciones</span>
          }
        </ion-card-content>
        <ion-card-header>
          <img
            src="{{pizza.image}}"
            alt="{{pizza.nombre}}"
            class="pizza-image"
          />
        </ion-card-header>
      </div>
    </ion-card>

    }
  </div>
  } @else {
  <div class="spinner-box">
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-content>
