<ion-content [fullscreen]="true">
  @if (rolls) {
  <ion-card>
    <ion-button (click)="pushRouter('/home')" expand="full" fill="clear">
      Atras
    </ion-button>
  </ion-card>
  <div>
    <ion-card>
      <ion-searchbar
        show-clear-button="focus"
        animated="true"
        placeholder="Buscar aqui..."
        (ionInput)="filterrolls($event)"
      ></ion-searchbar>
    </ion-card>
  </div>
  <div class="box-card">
    @for (roll of filteredRolls; track $index) {

    <ion-card (click)="pushDetails(roll.id)">
      <ion-card-content>
        <img src="{{roll.image}}" alt="{{roll.nombre}}" />
      </ion-card-content>
      <ion-card-header>
        <ion-card-title>{{roll.nombre}}</ion-card-title>
        <ion-card-subtitle>{{roll.descripcion}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    }
  </div>
  } @else {
  <div class="spinner-box">
    <ion-spinner></ion-spinner>
  </div>
  }
</ion-content>
