<ion-content>
  <ion-card class="back-btn-box">
    <ion-button
      (click)="pushRouter('/private/profile')"
      expand="full"
      fill="clear"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-card>
  <div class="box-margin">
    <ion-card-title style="color: cornflowerblue; text-align: center"
      >Historial de Tickets</ion-card-title
    >

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header class="box-header">
              <div class="header-text-box">
                <ion-text>Seleciona la fecha</ion-text>
              </div>
              <div class="box-btns-fecha-search">
                <ion-button id="open-modal"> {{startDate}} </ion-button>
                <ion-button color="tertiary" (click)="fetchTickets()">
                  <ion-icon name="search-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-card-header>
            <ion-modal trigger="open-modal" cssClass="small-modal">
              <ng-template>
                <ion-datetime
                  #datetime
                  size="cover"
                  presentation="date"
                  [(ngModel)]="startDate"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding">
        <ion-col size="12">
          <ion-card *ngIf="tickets.length > 0">
            <ion-card-header style="text-align: center">
              <ion-card-title>Tickets encontrados</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let ticket of tickets">
                  <ion-label>
                    <h3>Fecha: {{ formatDate(ticket.date) }}</h3>
                    <p>Total: {{ ticket.totalAmount }}</p>
                  </ion-label>
                  <ion-button
                    slot="end"
                    fill="clear"
                    (click)="reprintTicket(ticket)"
                  >
                    <ion-icon name="print-outline"></ion-icon>
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card *ngIf="tickets.length === 0">
            <ion-card-content>
              <p>
                No se encontraron tickets en el rango de la fecha seleccionada.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
